<li id='<%= dom_id(errand) %>'>
  <%= link_to errand.name, errand_path(errand), remote: true, class: 'link_to_errand' %>
  <%= form_for errand, remote: true, html: { class: 'hidden'} do |f| %>
    <%= render partial: "shared/errors", locals: { object: errand } %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit  %>
    </p>
  <% end %>
  <%= link_to '編集', '#', data: { id: errand.id }, class: 'edit_errand' %>
  <%= link_to 'キャンセル', '#', data: { id: errand.id }, class: 'edit_errand_cancel hidden' %>
  <%= link_to '削除', errand_path(errand), data: { id: errand.id, confirm: 'リストを削除してもよいですか？' }, method: :delete, remote: true %>
</li>
