<%= form_for @errand do |f| %>

  <% if @errand.errors.any? %>
    <ul>
      <% @errand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>
