<%= form_for [@task.errand, @task] do |f| %>
  <%= render partial: "shared/errors", locals: { object: @task } %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :done %><br>
    <%= f.check_box :done %>
  </p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>
