<%= form_for @task do |f| %>
  <%= render partial: "shared/errors", locals: { object: @task } %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit  %>
  </p>
<% end %>
