<li id='<%= dom_id(@task) %>'>
  <%= form_for [@task.errand, @task], remote: true, html: { id: 'edit_done'} do |f| %>
    <%= render partial: "shared/errors", locals: { object: @task } %>
    <%= f.check_box :done, { class: 'checkbox_done', data: { id: task.id } } %>
  <% end %>
  <span class='name_task'><%= @task.name %></span>
  <%= form_for [@task.errand, @task], remote: true, html: { class: 'hidden'} do |f| %>
    <%= render partial: "shared/errors", locals: { object: @task } %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.submit  %>
    </p>
  <% end %>
  <%= link_to '編集', '#', data: { id: @task.id, errand_id: @task.errand.id }, class: 'edit_task' %>
  <%= link_to 'キャンセル', '#', data: { id: task.id, errand_id: @task.errand.id }, class: 'edit_task_cancel hidden' %>
  <%= link_to '削除', errand_task_path(@task.errand, @task), method: :delete, remote: true, data: { id: @task.id, errand_id: @task.errand.id, confirm: 'タスクを削除してもよろしいですか?' }  %>
</li>
