%li.list-group-item{:id => "#{dom_id(@task)}"}
  = form_for [@task.errand, @task], remote: true, html: { id: 'edit_done'} do |f|
    = render partial: "shared/errors", locals: { object: @task }
    = f.check_box :done, { class: 'checkbox_done', data: { id: task.id } }
  %span.name_task= @task.name
  = form_for [@task.errand, @task], remote: true, html: { class: 'hidden update_task', data: {id: task.id}} do |f|
    %p
      = f.label :name
       
      %span.name_error
      %br/
      = f.text_field :name
    %p
      = f.submit
  = link_to '編集', '#', data: { id: @task.id, errand_id: @task.errand.id }, class: 'edit_task'
  = link_to 'キャンセル', '#', data: { id: task.id, errand_id: @task.errand.id }, class: 'edit_task_cancel hidden'
  = link_to '削除', errand_task_path(@task.errand, @task), method: :delete, remote: true, data: { id: @task.id, errand_id: @task.errand.id, confirm: 'タスクを削除してもよろしいですか?' }
