<h1>すべてのユーザー</h1>
<ol>
  <% @users.each do |user| %>
    <li>
      <%= user.name %>
      <%= link_to '詳細', user_path(user) %>
      <%= link_to '編集', edit_user_path(user) %>
      <%= link_to '削除', user, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ol>
<%= link_to '新しくユーザーを作る', new_user_path %>
